<!-- FILEPATH: /home/jmayer/apps/pb-demo/src/app/login/register/register.component.html -->
<form #registerForm="ngForm">
    <h2>CREATE A NEW ACCOUNT</h2>
    <p>Registering for an account will allow you to save your progress and create lessons.</p>

    <button class="flex flex-row h-10 gap-1 px-2 my-4 bg-white rounded-lg" (click)="loginWithGoogle()">
        <img class="h-5" alt="google logo" src="../../assets/icons/google-logo.svg" />
        <p>Create with Google</p>
    </button>

    <p>OR WITH EMAIL AND Password: You will need to verify your password to create lessons.</p>
    <div>
        <label class="form-label" for="username">Username:</label>
        <input class="form-input" type="text" id="username" name="username" required
            [(ngModel)]="registerData.username">
        <sub>This might be used on leaderboards.</sub>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="registerData.email">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required #password1 [(ngModel)]="registerData.password">
    </div>

    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required #password2
        [(ngModel)]="confirmationPassword">
    </div>
    @if ((confirmationPassword !== registerData.password) && confirmationPassword.length > 0) {
    <div>
        <p>Passwords must match and be at least 8 characters long.</p>
    </div>
    }
    @if ((confirmationPassword === registerData.password) && confirmationPassword.length > 7) {
    <div>
        <p>Passwords match.</p>
    </div>
    <button class="button" type="button" (click)="registerWithEmail()"
        [disabled]="registerForm.invalid">Register</button>
    }

</form>