.ra-button {
    padding: .3em .9em;
    border-radius: .25em;
    background: linear-gradient(#fff, #efefef);
    box-shadow: 0 1px .2em gray;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.ra-button svg {
    height: 1em;
    margin: 0 .5em 0 0;
}