<section class="mx-auto bg-amber-100 dark:bg-gray-900 px-2 sm:px-4">
    <app-welcome></app-welcome>
    <div class="px-0 pb-6 mx-auto ">
        <h1 class="text-2xl font-semibold text-center">
            Choose Your Level
        </h1>

        <p class="mt-4 text-center dark:bg-gray-700">
            You can also create your own lessons with text from the internet.</p>
        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 sm:grid-cols-2 md:grid-cols-3">
            <div class="grid w-full" [routerLink]="['/list']" [queryParams]="{tag: 'A1'}">
                <div class="bg-green-300 img-container">
                    <img src="../../assets/easy.svg" class="img-svg" alt="easy level">
                </div>
                    <p class="image-caption">A1 - Short texts with easy vocabulary.</p>
            </div>

            <div class="grid w-full" [routerLink]="['/list']" [queryParams]="{tag: 'A2'}">

                <div class="bg-orange-300 img-container">
                    <img src="../../assets/medium.svg" class="img-svg" alt="easy level">
                </div>
                <div>

                    <p class="image-caption">A2 - Texts with more difficulty vocabulary.</p>
                </div>
            </div>

            <div class="grid w-full" [routerLink]="['/list']" [queryParams]="{tag: 'B1'}">
                <div class="bg-red-300 img-container">
                    <img src="../../assets/hard.svg" class="img-svg" alt="easy level">
                </div>

                <p class="image-caption">B1 - Longer texts with more advanced vocabulary or grammar.</p>
            </div>
        </div>
    </div>
</section>