<section class="reading rounded-lg p-4 mb-2 mx-auto">
  <img class="rounded-lg mx-auto" [src]="coverImage" alt="cover image">
</section>

<section class="flex flex-col flex-wrap reading rounded-lg p-4 mb-2">
  <div #fullText translate="no" class="max-h-[70vh] overflow-y-auto">
    <div class="flex flex-row flex-wrap mb-4 justify-around items-center">
      <h2 class="text-center font-bold m-0">{{itemDetails()?.title}} </h2>
      <button class="flex justify-center gap-2 button">
        <app-play-button id="play-button" #playButton class="h-5" 
        [textArray]="textOrUrl"
        (click)="readAll()"
        > Listen </app-play-button>
      </button>
    </div>
    <div id='full-text' class="full-text" [innerHTML]="(itemDetails()?.content || '') | markdown | async"></div>
  </div>
  <p class="mt-2 text-sm">
    Tags:
    {{itemDetails()?.tags}}
  </p>
</section>

<section class="reading rounded-lg  p-4">
  <h2 class="text-center mb-0">Line-By-Line</h2>
  
  <div class="grid grid-cols-2 gap-1 mb-1">
    <button class="flex justify-center gap-2 mt-2 button" (click)="readAll()">
      <app-play-button #playButton class="h-5" 
      [textArray]="textOrUrl"
      >Full Text</app-play-button>
    </button>
    <button class="flex justify-center w-full gap-2 mt-2 button" type="button"
      (click)="showTranslation = !showTranslation">Toggle Translations</button>
  </div>
  
  
  <div [innerHTML]="(itemDetails()?.contentLines || '') | markdown | async" (click)="readThis($event)"
    [ngClass]="showTranslation ? 'shown' : 'hide-translations'"></div>
</section>
