<hr>
<div class="flex flex-col max-w-sm mx-auto">
    @if (!authStore.isValid) {
    <div class="px-6 py-4">
        <div class="flex justify-center mx-auto">
            <img class="w-auto h-7 sm:h-8" src="https://merakiui.com/images/logo.svg" alt="">
        </div>

        <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">Welcome Back</h3>

        <p class="mt-1 text-center text-gray-500 dark:text-gray-400">Login or create account</p>

        <p>Login with Google</p>
        <button class="standard" (click)="loginWithGoogle()">
            <img alt="google logo" src="../../assets/icons/google-logo.svg" />
            <p>Login with Google</p>
          </button>


        <form #loginForm="ngForm">
            <div class="w-full mt-4">
                <input type="email" placeholder="Email Address" aria-label="Email Address" [(ngModel)]="loginData.email"
                    name="email" />
            </div>

            <div class="w-full mt-4">
                <input type="password" placeholder="Password" aria-label="Password" [(ngModel)]="loginData.password"
                    name="password" />
            </div>

            <div class="flex items-center justify-between mt-4">
                <a href="#" class="text-sm text-gray-600 dark:text-gray-200 hover:text-gray-500">Forget Password?</a>

                <button type="button" (click)="loginWithEmail()">
                    Sign In
                </button>
            </div>
        </form>
    </div>
    <div class="flex items-center justify-center py-4 text-center bg-gray-50 dark:bg-gray-700">
        <span class="text-sm text-gray-600 dark:text-gray-200">Don't have an account? </span>

        <a href="#">Register</a>
    </div>
    }
    <div class="flex flex-col centered">
        @if (authStore.isValid) {
        Logged in as: {{authStore.model!['username']}}
        <button class="" type="button" (click)="logout()">
            Logout
        </button>
        } @else {Not Logged In}
    </div>
</div>