<hr>
<div class="flex flex-col max-w-sm mx-auto">
    @if (!authStore.isValid) {
    <div class="px-6 py-4 flex flex-col mx-auto text-center items-center">
        <div class="flex justify-center mx-auto">
            <img class="w-auto h-20" src="../../assets/lbl-lingo-logo.png" alt="">
        </div>
        <div>
            <p class="mt-1 text-center text-gray-500 dark:text-gray-400">Login or create account</p>
        </div>
        <button class="standard flex flex-row gap-1 my-8" (click)="loginWithGoogle()">
            <img class="h-5" alt="google logo" src="../../assets/icons/google-logo.svg" />
            <p>Login with Google</p>
        </button>


        <form #loginForm="ngForm">
            <div class="w-full mt-4">
                <input type="email" placeholder="Email Address" aria-label="Email Address" [(ngModel)]="loginData.email"
                    name="email" />
            </div>

            <div class="w-full mt-4">
                <input type="password" placeholder="Password" aria-label="Password" [(ngModel)]="loginData.password"
                    name="password" />
            </div>

            <div class="flex flex-row justify-between items-center my-4">
                <a href="#" class="text-sm text-gray-600 dark:text-gray-200 hover:text-gray-500">Forget
                    Password?</a>
                <button type="button" (click)="loginWithEmail()">
                    Sign In
                </button>
            </div>

        </form>
    </div>
    <div class="flex items-center justify-center py-4 text-center bg-gray-50 dark:bg-gray-700">
        <span class="text-sm text-gray-600 dark:text-gray-200">Don't have an account? </span>

        <a href="#">Register</a>
    </div>
    }
    <div class="flex flex-col centered">
        @if (authStore.isValid) {
        Logged in as: {{authStore.model!['username']}}
        <button class="" type="button" (click)="logout()">
            Logout
        </button>
        } @else {Not Logged In}
    </div>
</div>