
@if (auth.authStore.isValid) {
  <section class="p-2 m-2 card bg-slate-200">
    <h1 class="text-2xl text-center">Lessons Available - {{itemDetails().id}}</h1>
    @for (item of resultList | async; track $index) {
      <p class="flex items-center justify-between p-1 border border-gray-100">
        Title: {{item.title}} - {{item.id}}
        <a [routerLink]="['/lesson', item.id]">
          <button class="standard" type="button">
            Open</button>
          </a>
        </p>
      }
      <hr>
      <router-outlet></router-outlet>
  </section>
  <app-login></app-login>
  
  
} @else {
  <app-login></app-login>
}
