@if (authStore.isValid) {
  <section class="h-screen bg-slate-200">
    <h1>App Component</h1>
    @for (item of resultList | async; track $index) {
      <p>
        Title: {{item.title}} <button class="standard" type="button" (click)="showDetails(item.id)">Details</button>
      </p>
    }
    @if (itemDetails()) {
      Details: 
      <p>{{itemDetails().title}}</p>
      <p>{{itemDetails().content}}</p>
      <pre>
        Tag Details:
        @for (tag of itemDetails().expand?.tags; track $index) {
          {{tag.tag}}
        }
      </pre>
    }
  </section>
  
  
  <app-login></app-login>
} @else {
  <app-login></app-login>
}
