<h2 class="text-center text-2xl text-lbl-blue-500 font-semibold">Welcome to LBL-Lingo!</h2>
<h3 class="text-center text-xl text-gray-700 mb-2 font-semibold">Read, Listen & Learn: Line by Line</h3>
<p class="standard">Reading and listening are great ways to increase general language ability. Reading is the foundation for writing and 
    is essential to do well on most tests like TOEIC, IELTS, and TOEFL. Listening is the foundation for speaking 
    and good pronunciation.<p>
<p>You can practice both of these on this site through a wide range of texts based on your level.</p>
<br>
<p class="text-xs mb-4"><strong>Note:</strong> My goal is to keep this site free, so it does not use any paid voices or translation services. 
    A browser with good text-to-speech voices and a built-in translator is needed.
    Google Chrome and Microsoft Edge have both. You may need to use extensions with other browsers.
</p>
<hr class="mb-4">
