<section class="flex flex-col flex-wrap px-2 pt-4 reading">
    <h2 class="text-2xl font-semibold text-center ">Welcome to LBL-Lingo!</h2>
    <h3 class="mb-2 text-xl font-semibold text-center ">Read, Listen & Learn: Line by Line</h3>
    <p>Reading and listening are great ways to increase general language ability. Reading is the foundation for writing and 
        is essential to do well on most tests like TOEIC, IELTS, and TOEFL. Listening is the foundation for speaking 
        and good pronunciation.<p>
    <p>You can practice both of these on this site through a wide range of texts based on your level.</p>
    <br>
    <p class="mb-4 text-xs"><strong>Note:</strong> My goal is to keep this site free, so it does not use any paid voices or translation services. 
        A browser with good text-to-speech voices and a built-in translator is needed.
        Google Chrome and Microsoft Edge both work well. You may need to use extensions with other browsers.
    </p>
    <hr class="mb-4">
</section>
    <video-player [videoUrl]='defaultUrl' ></video-player>