<div class="p-4 text-lbl-purple-900">
    <h2 class="text-center">
        Privacy Statement

    </h2>

    <p>
        We respect your privacy. No login is required to use this site, and we do not collect any personally
        identifiable information about our users. We do not sell or share any user data with third parties.
    </p>
    <p>
        This site uses Google Ads to display advertisements.


        Google may collect data about your visits to this and other websites in order to provide personalized
        advertisements. To learn more about Google's privacy practices and how to opt out of personalized advertising,
        please visit Google's Privacy & Terms page.

        By using this site, you consent to the use of Google Ads and the collection of data by Google as described
        above. However, feel free to use an ad-blocker, if ads bother you.

    </p>
    <p>
        If you have any questions about our privacy practices, please contact us.

    </p>
</div>